*{
    margin: 0;
    padding: 0;
    // border: 1px solid red;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(255, 32, 32);
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.radio-style{
    display: flex;
    // justify-content: space-between;
}
.radio-style2{
    display: flex;

}
.identité-class{
    // padding: 20px;
    height: 200px;
    width: 50%;
}
.style-identité{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.style-identité label{
    margin: 15px;
}
.radio-style{
    display: flex; 
    justify-content: center;
}
.radio-style :hover{
    cursor: pointer;
}
.style-adresse-facture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}
.style-adresse-facture label{
    margin: 5px;
}
.style-adresse-livraison{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.facturation-class{
    // padding: 20px;
    height: 220px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.livraison-class{
    // padding: 20px;
    height: 220px;
    width: 50%;
}

.radio1{
    margin-right: 15px;
}

.radio2{
    margin-left: 15px;
}
ul{
        overflow: auto ;
    background-color: rgb(190, 188, 188);
    position: absolute;
    top: 293px; height: 70px;
    // width: 300px;

}
ul li{
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// position: absolute;


    
}

ul :hover{
    cursor: pointer;
}